:root {
  --navy: #c2bcb2;
  --light-navy: #003366;
  --white: #ffffff;
  --gray: #d3d3d3;
  --light-gray: hsl(0, 0%, 94%);
  --accent: #9e9991;
  --light-beige: #CACAC2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--light-beige);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/background.jpg'); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Ensure the background image stays fixed during scrolling */
}

.App {
  background-color: var(--navy);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

input {
  padding: 10px;
  border: 2px solid var(--gray);
  border-radius: 5px;
  width: calc(100% - 24px);
  margin-bottom: 10px;
  font-size: 16px;

}

input:focus {
  outline: none;
  border-color: var(--accent);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--navy);
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: var(--light-gray);
}

.list {
  margin-top: 20px;
}

.task {
  background-color: var(--light-navy);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
}

.task.dragging {
  background-color: var(--accent);
}

.task h1 {
  margin: 0;
  font-size: 18px;
  flex-grow: 1; /* Allow the task name to take up available space */
}

.task-buttons {
  display: flex;
  gap: 10px; /* Add space between buttons */
}

.task-buttons button {
  padding: 5px 10px; /* Adjust padding for smaller buttons */
}

.task-input {
  width: 100%; /* Make the input take the full width of its container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
  word-wrap: break-word; /* Break long words and wrap them to the next line */
  overflow-wrap: break-word; /* Ensure long words break and wrap */
}

.completed {
  text-decoration: line-through;
  color: var(--gray);
}

input, button {
  transition: all 0.3s ease;
}

.addTask {
  margin-bottom: 20px;
}

.add-task-button {
  color: var(--white); /* Change this to your desired color */
}

.current-time {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 30px;
  font-family: 'Arial', sans-serif; /* Set the font style */
  font-weight: bold; /* Make the font bold */
}